---
layout: page
---
<h1>Release Status <span class="repo-status-updated">(Updated {{ site.data.repo_status.generated_date_time }})</span></h1>
<div class="repo-status-table-wrapper">
<table class="repo-status-table">
  <tr>
    <th>Repo</th>
    <th>CI workflow status</th>
    <th>Release workflow status</th>
    <th>Latest release tag</th>
    <th>Latest prod tag</th>
    <th>Unreleased tags</th>
    <th>Commits since last release</th>
  </tr>
    {% assign weekly_repos = site.data.repo_status.repos | where: "in_weekly_release", true %}
    {% for repo in weekly_repos %}
  <tr>
    <td>
      <div class="repo-unreleased-tag">
      <a href=https://github.com/{{repo.repo_url}}>{{ repo.friendly_name }}</a>
      </div>
      <div class="repo-unreleased-tag">
      <a href="https://nhsdigital.github.io/{{ repo.repo_url | remove_first: 'NHSDigital/' }}">Release history</a>
      </div>
    </td>
    <td><a href="{{ repo.ci_workflow_url }}">{{ repo.ci_workflow_status }}</a></td>
    <td><a href="{{ repo.release_workflow_url }}">{{ repo.release_workflow_status }}</a></td>
    <td><a href="{{ repo.latest_release_url }}">{{ repo.latest_release_tag }} - {{repo.latest_release_published_at}}</a></td>
    <td><a href="https://github.com/{{ repo.repo_url }}/releases/tag/{{ repo.latest_prod_tag }}">{{ repo.latest_prod_tag }} - {{repo.latest_prod_release_datetime}}</a></td>
    <td>
      {% if repo.unreleased_tags and repo.unreleased_tags.size > 0 %}
        {% for tag in repo.unreleased_tags %}
          <div class="repo-unreleased-tag"><a href="https://nhsdigital.github.io/{{ repo.repo_url | remove_first: 'NHSDigital/' }}/release_notes/{{ tag }}">{{ tag }}</a></div>
        {% endfor %}
      {% else %}
        <span>None</span>
      {% endif %}
    </td>
    <td><a href="https://github.com/{{ repo.repo_url }}/compare/{{ repo.latest_release_tag }}...{{repo.main_branch}}">{{ repo.commits_since_last_release }}</a></td>
  </tr>
  {% endfor %}
</table>
</div>
